<!DOCTYPE html>
<html>
<head>
	<title>Valsan Networking</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<style type="text/css">
		* {
			font-family: 'Roboto', sans-serif;
		}
	</style>
</head>
<body>
	<!-- header -->
	<img
	src="--IMAGE_REPLACE--"
	alt="Valsan Networking"
	title="Valsan Networking"
	width="140px"
	height="40px"
	style="float: left; position: absolute; margin-top: 25px; margin-left: 25px;"
	>

	<div style="float: right; position: absolute; margin-top: 15px; margin-right: 25px; text-align: center;">
		<label style="color: #AAAAAA; font-size: 16px;">Valsan Networking SAS</label><br>
		<label style="color: #AAAAAA; font-size: 14px;">CL 76 45 A 94 BG 301</label><br>
		<label style="color: #AAAAAA; font-size: 14px;">NIT: 901168711-9</label>
	</div>

	<div style="margin-top: 110px; text-align: center;">
		<h2>Orden de Servicio</h2>
	</div>

	<!-- body -->
	<table style="width: 100%; font-size: 14px; border: 1pt solid #000000; border-radius: 5px;">
		<thead style="background-color: #E8E8E8; color: #000000;" align="right">
			<tr>
				<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">
					<label>CONSECUTIVO: --ORDER_CONSECUTIVE_REPLACE--</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<table style="width: 100%; border-collapse: collapse;">
						<thead style="background-color: #E8E8E8; color: #000000;">
							<tr>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">NOMBRES</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">IDENTIFICACION</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">TIPO DOCUMENTO</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">DIRECCION</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">TELEFONO</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">CORREO</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 6px;">--PROVIDER_NAME_REPLACE--</td>
								<td style="padding: 6px;">--PROVIDER_IDENTIFICATION_REPLACE--</td>
								<td style="padding: 6px;">--PROVIDER_DOCUMENT_TYPE_REPLACE--</td>
								<td style="padding: 6px;">--PROVIDER_ADDRESS_REPLACE--</td>
								<td style="padding: 6px;">--PROVIDER_PHONE_REPLACE--</td>
								<td style="padding: 6px;">--PROVIDER_EMAIL_REPLACE--</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table style="width: 100%; border-collapse: collapse; text-align: center;">
						<thead style="background-color: #E8E8E8; color: #000000;">
							<tr>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">FECHA INGRESO</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 6px;">--ORDER_CREATION_DATE_REPLACE--</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table style="width: 100%; border-collapse: collapse; text-align: center;">
						<thead style="background-color: #E8E8E8; color: #000000;">
							<tr>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">TIPO PRODUCTO</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">REFERENCIA</th>
							</tr>
						</thead>
						<tbody>
							<tr style="text-align: center;">
								<td style="padding: 6px; width: 200px;">--ORDER_PRODUCT_TYPE_REPLACE--</td>
								<td style="padding: 6px; width: 200px;">--ORDER_REFERENCE_REPLACE--</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table style="width: 100%; border-collapse: collapse; text-align: center;">
						<thead style="background-color: #E8E8E8; color: #000000;">
							<tr>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">DESCRIPCION</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 6px;">--ORDER_DESCRIPTION_REPLACE--</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table style="width: 100%; border-collapse: collapse; text-align: center;">
						<thead style="background-color: #E8E8E8; color: #000000;">
							<tr>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">CANTIDAD</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">VALOR UNIDAD</th>
								<th scope="col" style="padding: 6px; border-bottom: 1pt solid #000000;">TOTAL</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 6px; width: 200px;">--ORDER_QUANTITY_REPLACE--</td>
								<td style="padding: 6px; width: 200px;">$--ORDER_VALUE_REPLACE--</td>
								<td style="padding: 6px; width: 200px;">$--ORDER_TOTAL_REPLACE--</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>